<!DOCTYPE HTML>
<html>
  <head>
    <title>My rides</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/my_rides.js"></script>
  </head>
  <body>
    <header>
      <% include header %>
    </header>

    <% if (typeof(e) !== 'undefined') { %>
      <div id='error'> <%= e %> </div>
    <% } %>

    <div class="container">
      <h2>My upcoming rides</h2>
      <table class="table" id = "my_upcoming_rides">
        <thead>
          <tr>
            <th>Departure time</th>
            <th>Start Location</th>
            <th>Destination</th>
            <th>Seats open</th>
            <th>Transport</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < rides.length; ++i) { %>
            <%if (rides[i].departure_time > currentTime){%>
              <tr class="clickable-row" data-href="/rides/<%= rides[i]._id %>" style="cursor: pointer;">
                <td><%= rides[i].departure_time.toLocaleString() %></td>
                <td><%= rides[i].origin %></td>
                <td><%= rides[i].destination %></td>
                <td><%= rides[i].remaining_capacity %></td>
                <td><%= rides[i].transport %></td>
                <form method="post" action="/rides/participate">
                  <input type="hidden" name="ride_id" value=<%= rides[i]._id %>></input>
                  <input type="hidden" name="_csrf" value=<%= csrf %>></input>
                  <td><button type="submit" class="btn btn-default">Leave ride</button></td>
                </form>
              </tr>
            <% } %>  
          <% } %>
        </tbody>
      </table>

      <h2>My past rides</h2>
      <table class="table" id = "my_past_rides">
        <thead>
          <tr>
            <th>Departure time</th>
            <th>Start Location</th>
            <th>Destination</th>
            <th>Seats Taken</th>
            <th>Transport</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < rides.length; ++i) { %>
            <%if (rides[i].departure_time <= currentTime){%>
              <tr class="clickable-row" data-href="/rides/<%= rides[i]._id %>" style="cursor: pointer;">
                <td><%= rides[i].departure_time.toLocaleString() %></td>
                <td><%= rides[i].origin %></td>
                <td><%= rides[i].destination %></td>
                <td><%= rides[i].total_capacity- rides[i].remaining_capacity %></td>
                <td><%= rides[i].transport %></td>
                <form method="get" action="/reviews/<%= rides[i]._id %>">
                  <td><button type="submit" class="btn btn-default">Review</button></td>
                </form>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
